:root {
    --main-bg-color: brown;
    --main-text-color: white;

}

html, body {
    font-family: Inter, sans-serif;
    font-weight: 500;
    -webkit-tap-highlight-color: transparent;
    height: 90%;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 750px;
    position: fixed;
    overflow: hidden;
    scrollbar-width: none;
    top: 0;
    left: 0;
}

#input-container {
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#input-container > * {
    margin-top: 12px;
}

#header-container {
    flex-grow: 1;
    display: flex;
    margin: auto;
}

#map {
    width: 100%;
    height: 100%;
}

#header-button {
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    background-color: transparent;
}

#header-button:hover {
    background-color: #f0f0f0;
}

#header {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #505057;
}

button {
    cursor: pointer;
}


datalist {
    font-family: "Inter", sans-serif;
}

input::-webkit-calendar-picker-indicator {
    display: none;
    opacity: 0;
}

table {
    border-collapse: separate;
    /*border-top: 12px; !* Adjust this value to set the spacing *!*/
}

td label {
    color: #696969;
}

.places-input {
    /* left spacing */
    padding-left: 12px;
}


input {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #505057;

    border-radius: 6px;
    border: 1px solid #d0d0d0;
    padding: 6px 8px;
}

input:disabled {
    background-color: #f8f8f8;
    color: #adadad;
}

input:focus {
    outline: none;
    transition-property: border;
    transition-duration: 0.2s;
    border: 1px solid #696969;
}

input:active:not(:disabled) {
    transition-property: border;
    transition-duration: 0.2s;
    border: 1px solid #696969;
}

input:hover:not(:disabled):not(:active):not(:focus) {
    transition-property: border;
    transition-duration: 0.2s;
    border: 1px solid #a0a0a0;
}

input:not(:hover):not(:active):not(:focus) {
    transition-property: border;
    transition-duration: 0.2s;
    border: 1px solid #d0d0d0;
}


.dropdown {
    position: relative;
    font-size: 14px;
    color: #333;
    z-index: 1;
    width: 160px;
    justify-content: flex-end;

    .dropdown-list {
        margin-top: 4px;
        padding: 12px;
        background: #fff;
        position: absolute;
        top: 30px;
        left: 2px;
        right: 2px;
        box-shadow: 0 2px 8px 3px rgba(0, 0, 0, .10);
        transform-origin: 50% 0;
        transform: scale(1, 0);
        transition: transform .15s ease-in-out .15s;
        max-height: 66vh;
        overflow-y: hidden;
        border-radius: 8px;
    }

    .dropdown-option {
        display: block;
        padding: 8px 12px;
        opacity: 0;
        transition: opacity .15s ease-in-out;
    }

    .dropdown-label {
        display: block;
        height: 30px;
        background: #f4f4f4;
        padding: 6px 12px;
        line-height: 1;
        cursor: pointer;
        border-radius: 8px;
        color: #c0c0c0;

        &:before {
            content: '<';
            float: right;
        }
    }

    .dropdown-label:hover {
        background: #f0f0f0;
    }

    &.on {
        .dropdown-list {
            transform: scale(1, 1);
            transition-delay: 0s;

            .dropdown-option {
                opacity: 1;
                transition-delay: .2s;
            }
        }

        .dropdown-label:before {
            content: '>';
        }
    }

    [type="checkbox"] {
        position: relative;
        top: 2px;
        margin-right: 4px;
        accent-color: #0070f0;
    }
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fb6259;
}

body {
    margin: 40px;
}